<% unless comment.archived? %>
<p>
  <strong>Commenter:</strong>
  <%= comment.user.username %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<%= render partial: 'likes/button', locals: { likeable: comment } %>

<p class="comment-time">
  <% if Time.current - comment.created_at > 24.hours %>
    Posted <%= comment.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
  <% else %>
    Posted <%= time_ago_in_words(comment.created_at) %> ago
  <% end %>
</p>

<p>
  <% if comment.user == current_user %>
    <%= link_to "Destroy Comment", [comment.article, comment], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
  <% end %>

  <% if comment.user == current_user %>
    <%= link_to 'Edit', edit_article_comment_path(comment.article, comment) %>
  <% end %>
</p>
<% end %>