<%= form_with model: [ @article, @article.comments.build ] do |form| %>

  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>

  <div class="field">
    <%= form.label :spoiler %>
    <%= form.check_box :spoiler %>
  </div>

  <%= form.submit %>

<% end %>

