<%= form_with model: article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>

  <div>
    <%= form.label :tag, style: "display: block" %>
    <%= form.text_field :tags, value: article.tags.map(&:name).join('|') %>
  </div>

  <div>
    <%= form.label :year %>
    <%= form.number_field :year %>
  </div>

  <div>
    <%= form.label :Oid %>
    <%= form.number_field :Oid %>
  </div>

  <div>
  <%= form.label :status %><br>
  <%= form.select :status, Visible::VALID_STATUSES, selected: article.status || 'public' %>
</div>
<% end %>


